.project_container {
    width: 1000px;
}

.projects_wrap {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    padding: 16px;
    border-radius: 30px;
    transition: transform 0.3s ease-in-out;
    margin-top: 30px;
}

.projects_wrap:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.img_web {
    width: 300px;
    height: auto;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.img_web:hover {
    transform: scale(1.05);
}

.info_wrap {
    margin-left: 16px;
    height: 400px;
}

.info_title{
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 8px;
    margin-right: 5px;
}

.info_year {
    font-size: 18px;
    font-weight: bold;
    color: #666666;
}

.info_github {
    font-size: 21px;
    color: #76b5c5;
    font-weight: bold;
}

.info_description {
    font-size: 18px;
    color: #666666;
    margin-top: 16px;
    line-height: 1.4;
}

.info_tech_title {
    font-size: 18px;
    color: #333333;
    margin-top: 16px;
}

.info_tech_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}

.info_tech {
    font-size: 16px;
    color: #333333;
    margin-right: 8px;
    background-color: #76b5c5;
    padding: 1px 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.info_tech_item {
    font-size: 15px;
    color: #333333;
    margin-top: 16px;
    font-weight: bold;
}