.test {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 600px;
    background-color: #4CAF50;
    margin-top: 20px;
}

.test_container {
    width: 90%;
    height: 90%;
    border: 2px solid whitesmoke;
    box-shadow: 0px 5px 15px whitesmoke;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.wrap_complited {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.title_complited {
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.text_complited {
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 25px;
}

.arrow {
    position: relative;
    top: 0;

    animation: moveUpDown 1.5s infinite;
}

.test_failed {
    font-size: 30px;
    font-weight: bold;
    color: rgb(199, 23, 23);
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.633);
    text-align: center;
}


@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}