.test {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 800px;
    background-color: #76b5c5;
}

.test_container {
    width: 70%;
    height: 70%;
    border: 2px solid rgb(245, 245, 208);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}