.container {
    top: 10px;
    width: 1200px;
    padding: 0 32px;
    margin-left: auto;
    margin-right: auto;
}

.headerWrap {
    position: sticky;
    top: 10px;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 64px;
    margin-right: 24px;
    margin-left: 24px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    border-radius: 50px;
    background-color: white;
}

.navWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 420px;
}

.navLink {
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.linksNav {
    display: flex;
    gap: 30px;
}

.navLink:hover,
.activeLink {
    color: white;
    background-color: #d2b8f4;
}

.contactBtn {
    display: flex;
    padding: 14px 48px;
    width: 50px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 40px;
    background: #d2b8f4;
    color: white;
}

.contactBtn:hover {
    color: white;
}
