.videoWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.videoTitle {
    font-size: 35px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 16px;
    text-align: left;
    border-radius: 10px;
    padding: 5px;
}
