
.footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin-top: 45px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


.footerWrap {
    padding-left: 50px;
    display: flex;
    align-items: baseline;
}

.footerWrapTitle {
    flex: 1 1 100%;
}

.footerTitleText {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}


.footerWrapSoc {
    flex: 1 1 100%;
    text-align: right;
}

.footerSoc {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 5px;
}

.footerList {
    margin-right: 15px;
}

.footerLink {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.3s ease;
    display: block;
    width: 34px;
    height: 34px;
}

.footerLink:hover {
    transform: scale(1.5);
}

.footerLink svg {
    width: 100%;
    height: 100%;
}

.footer_tel_wrap {
    display: flex;
    margin-left: auto;
}

.footerTel {
    margin-bottom: 20px;
    font-size: 25px;
    display: flex;
    width: 380px;
    font-weight: bold;
    flex-direction: column;
}

.footerTelNumber {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}

.footerDowntext {
    text-align: center;
    margin-top: 15px;
    padding-bottom: 1px;
}

.footerDowntextFirst {
    margin-bottom: 5px;
    font-size: 14px;
}

.footerDowntextSecond {
    font-size: 14px;
}