.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  animation: slideIn 1s;
}

.title_question {
  font-size: 31px;
  font-weight: bold;
  color: rgb(245, 245, 208);
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.options {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  margin: 5px;
  padding: 16px 26px;
  border: none;
  background-color: #76b5c5;
  color: rgb(245, 245, 208);
  font-size: 26px;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.successMessage,
.failureMessage {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}